$dark-blue: #336699;
$blue: #86bbd8;
$light-blue: #cadeee;
$grey: #2f4858;
$green: #9ee493;
$red: #fe5f55;
$white: #fafaff;
$black: #08090a;
$shadow-white: rgba($white, 0.26);
$shadow-black: rgba($black, 0.36);
